.equipe {
    background: url("../../img/sobre-nos/seta-direita\ 1\ \(1\).png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-position: center;
    align-items: center;
    padding: 5em 7em;
    gap: 10px;
    justify-content: center;
}

.equipe hr {
    width: 60px;
    border: 1px solid var(--cor-destaque);
}

.equipe-container {
    display: flex;
    gap: 30px;
    width: 100%;
    margin-top: 4em;
    justify-content: center;
}

.equipe-container-item {
    border: 1px solid var(--cor-destaque);
    padding: 1.2em;
    border-radius: 10px;
    gap: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.ted, .yo {
    position: relative;
    top: -2em;
}
.equipe-1, .equipe-2 {
    display: flex;
    gap: 30px;
}

.equipe-container-item a {
    background: rgba(169, 168, 173, 0.075);
    width: 80%;
    border-radius: 5px;
    border: 1px solid var(--cor-destaque);
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    align-self: center;
    padding: .6em;
    white-space: nowrap;
    transition: .5s;
}

.equipe-container-item a:hover {
    background: rgba(7, 2, 27, 0.452);
}



@media (max-width: 1050px) {

    .equipe-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 550px) {

    .equipe-container {
        flex-wrap: wrap;
    }

    .equipe-container-item {
        padding: .5em;
    }

    .equipe-container-item img {
        width: auto;
    }
}