header {
    background-color: rgba(4, 79, 165, 0.075);
    box-shadow: 3px 5px 16px 0px rgba(0, 0, 0, 0.219);
}

header nav {
    gap: 10px;
}

@media (max-width: 1080px) {
    #inicio, #equipe {
        display: none;
    }
}

@media (max-width: 780px) {

    #insta, #unidades {
        display: none;
    }
}
