@import url("styles/madrinha-estilo/header.css");
@import url("styles/madrinha-estilo/banner.css");
@import url("styles/madrinha-estilo/beneficios.css");


body {
    font-family: 'Archivo', sans-serif;
    color: white; 
    background: url("img/sobre-nos/luz\ back\ \(2\).png");
    background-color: #04030C;
    background-repeat: no-repeat;
    background-size: cover;
}
