/* Fonte importada */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700&display=swap');

/* Links arquivos css início*/
@import url('styles/header.css');
@import url('styles/banner.css');
@import url('styles/impactos.css');
@import url('styles/sobre-nos.css');
@import url('styles/apoiadores.css');
@import url('styles/apoie-paq.css');
@import url('styles/cases.css');
@import url('styles/frentes.css');
@import url('styles/faca-parte.css');
@import url('styles/foco.css');
@import url('styles/perg-ferquentes.css');
@import url('styles/contato.css');
@import url('styles/footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-destaque: #0e91e8;
    --preto-padrao: #04030C;
    --linear-azul-ciano: linear-gradient(270deg, #07beec 30.50%, rgba(30, 133, 230, 0.98) 102.58%);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Archivo', sans-serif;
    color: white; 
    background: url("img/luz\ back.png");
    background-color: #04030C;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

/* Scrollbar personalizada */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--preto-padrao);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cor-destaque);
    border-radius: 5px;
}

/* Animaçoes de entrada e saida de conteudo */

[data-anima] {
    opacity: 0;
    transition: .8s;
}

[data-anima="esquerda"] {
    transform: translate3d(15px, 0, 0);
}

[data-anima="direita"] {
    transform: translate3d(15px, 0, 0);
}

[data-anima="centro"] {
    transform: translate3d(0, 50px, 0);
}

[data-anima="cima"] {
    transform: translate3d(0, -50px, 0);
}

[data-anima].animacao {
    opacity: 1;
    transform: translate3d(0,0,0);
}

