@import url("styles/not-unicas/ver-mais.css");
@import url("styles/not-unicas/conteudo.css");
@import url("styles/not-unicas/header.css");

body {
    font-family: 'Archivo', sans-serif;
    color: white; 
    background: url("img/sobre-nos/luz\ back\ \(2\).png");
    background-color: #04030C;
    background-repeat: no-repeat;
    background-size: cover;
}
