.conteudo {
    margin: 6% 15%;
    border: 2px solid var(--cor-destaque);
    display: flex;
    gap: 20px;
    flex-direction: column;
    border-radius: 10px;
    padding: 5em;
}

.conteudo p {
    color: rgb(202, 202, 202);
}

.conteudo img {
    width: 100%;
    border-radius: 10px;
}

.conteudo-container {
    display: flex;
    margin-top: 2em;
    gap: 30px;
}

.conteudo-container img {
    width: 50%;
    border-radius: 10px;
}

.conteudo-redes {
    display: flex;
    gap: 15px;
}

.conteudo-redes img {
    width: 2.4em;
}


.conteudo-redes a {
    transition: .5s;
    opacity: .9;
}

.conteudo-redes a:hover {
    transform: scale(.9);
    opacity: 1;
}

.conteudo hr {
    border: 1px solid var(--cor-destaque);
    margin: 1em 0;
}


@media (max-width: 990px) {
    .conteudo {
        margin: 1.2em;
        padding: 1em;
    }
}
