header {
    background-color: rgba(4, 79, 165, 0.075);
    box-shadow: 3px 5px 16px 0px rgba(0, 0, 0, 0.219);
}


@media (max-width: 990px) {
    #historia {
        display: block;
    }

    #faca-parte {
        display: none;
    }
}
