.banner {
    height: 116vh;
    background: url("../../img/madrinhas/ALANA-XP-105\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -100px;
    background-position: center;
    padding-top: 200px;
    display: flex;
    background-attachment: fixed;
    align-items: left;
    padding-left: 5em;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.30);
}

.banner img {
    display: none;
}


@keyframes float {
    0% {
        transform: translate(0, -7px);
    }

    50% {
        transform: translate(0, 7px);
    }

    100% {
        transform: translate(0, -7px);
    }
}


@media (max-width: 500px) {

.banner img {
    display: block;
    margin-top: 5em;
    width: 2.5em;
    align-self: center;
    animation: float 1s infinite ease-in-out;
}

    .banner {
        padding: 1em;
        padding-top: 8em;
    }
}