.apoie-paq {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 6em;
    gap: 10px;
    justify-content: center;
}

.apoie-paq hr {
    width: 60px;
    border: 1px solid var(--cor-destaque);
}

.apoie-mobile {
    display: flex;
    width: 40%;
    gap: 30px;
}


.apoie-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 2em;
}

.apoie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2em;
    border: 2px solid var(--cor-destaque);
    border-radius: 10px;
    gap: 10px;
    text-align: center;
    justify-content: center;
}

.apoie-item a {
    text-decoration: none;
    color: rgb(5, 9, 49);
    font-weight: bolder;
    margin-top: 1em;
    background-color: var(--cor-destaque);
    padding: .7em 1.5em;
    border-radius: 4px;
    transition: .5s;
}

.apoie-item a:hover {
    background-color: rgb(25, 122, 212);
    color: white;
    box-shadow: 0px 8px 29px 0px rgba(87, 121, 161, 0.377);
}

.madrinha {
    overflow: hidden;
    animation: neon 1s alternate infinite ease-in-out;
}


.madrinha,
.bonde-dos-parças {
    width: 28vw;
}

.pix {
    width: 34vw;
    gap: 20px;
}


/*--------- Animações efeito neon----------------------------*/

@keyframes neon {
    0% {
        box-shadow: 0 0 11px var(--cor-destaque);
    }

    100% {
        box-shadow: 0 0 0px var(--cor-destaque);

    }
}



@media (max-width: 1000px) {

    .apoie-container {
        flex-direction: column;
    }

    .apoie-mobile {
        width: 100%;
    }

    .madrinha,
    .bonde-dos-parças {
        width: 100%;
    }

    .pix {
        width: 44vw;
        gap: 20px;
        align-self: center;
    }


}



@media (max-width: 650px) {

    .apoie-paq {
        margin: 2em;
    }

    .apoie-container {
        flex-direction: column-reverse;
    }

    .apoie-mobile {
        flex-direction: column;
    }

    .pix {
        width: 100%;
    }

    .apoie-item img {
        width: 2em;
        gap: 5px;
    }

    .icon-tit {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .apoie-item a{
        padding: .5em 1em;
        margin-top: .5em;
    }


}


@media (max-width: 340px) {

    .apoie-mobile {
        height: 100%;
        gap: 30px;
    }
    

}