.impactos {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em 0;
    gap: 10px;
}

.impactos-container {
    display: flex;
    margin-top: 3em;
    background-color: rgba(255, 255, 255, 0.048);
    justify-content: space-between;
    padding: 1.8em 3em;
    width: 60%;
    border-left: 5px solid var(--cor-destaque);
    border-right: 5px solid var(--cor-destaque);
    height: 100%;
    border-radius: 10px;
    align-items: center;
    box-shadow: 8px 9px 20px 0px rgba(0, 0, 0, 0.20);
}

.impactos-itens {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.impactos-container-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 5px;
}

.impactos-container-item img {
    width: 3em;
}

.impactos-container-item h3 {
    color: var(--cor-destaque);
    font-size: 1.8em;
}

.impactos-elementos-back {
    display: flex;
    align-items: center;
    text-align: center;
}

.impactos-img {
    position: absolute;
    left: 0;
    top: 190px;
}

.impactos-img-2 {
    position: absolute;
    right: 0;
    top: 190px;
}



@media (max-width: 850px) {
    .impactos {
        padding: 1.5em ;
    }
    .impactos-container {
        flex-direction: column;
        gap: 30px;
    }

    .impactos-img, .impactos-img-2 {
        width: 6em;
    }
}


@media (max-width: 550px) {

    .impactos-container {
        width: 80%;
        padding: 1em;
    }
   .impactos-container-item h3 {
    font-size: 1.5em;
   }

   .impactos-img, .impactos-img-2 {
    display: none;
}
}